.gallery-item {
    height: 255px;
    width: 335px;
    margin-top: 5%;
    background: linear-gradient(180deg, rgba(248, 108, 108, 0.808) 0%, rgba(0, 0, 0, 0.5) 100%);
    color: #000000;
    border-radius: 25px;

    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        margin: 0 0 1.3rem 0;
        &:hover {
            text-decoration: underline;
        }
    }
}


.card-text {
    display: flex;
    align-items: flex-end;
    padding: 0 0 0 10px;
    height: 255px;
    max-height: 255;
}

.btn-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}