$primary-color :  #FF6060;
header{
    display: flex;
    width: 100%;
    min-width: 335px;
    text-align: center;
    align-items: center ;
    justify-content: space-between;
    margin: 0 0 24px 0;
}
.svg-white path{
    fill:white
}
.hstack {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #FF6060;
    font-size: 18px;
    line-height: 142.6%;
    gap: 1rem;
}


a {
    text-decoration: none;
    color: $primary-color;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: $primary-color;
}